.wrapper {
    width: 50%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    font-size: 10pt;
}

h1,
h2,
p {
    text-align: center;
}
.day{
    display: flex;
    justify-content: center;
}